main{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: space-between;
}

/* 
   align-items -> alinhamento vertical
   justify-content -> alinhamento horizontal 
   flex-start -> comeco
   flex-end -> final
   center -> centro
*/
.um{
    display: flex;
    align-items: center;
    justify-content: space-beetwen;
    gap: 10px;
}

.um p{
    
}

.dois{
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
}

.tres{
    width: 20%;
    height: 100px;
    background-color: purple;
}